<a href="https://colab.research.google.com/github/surajkushwah579/Ipl_EDA/blob/main/Untitled16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
import os
import pandas as pd

root_folder = "/content/drive/MyDrive/IPL Player Stats"

subfolders = ["Bowling Stats", "Batting Stats"]

dataframes = []

# Loop through subfolders
for subfolder in subfolders:
    subfolder_path = os.path.join(root_folder, subfolder)

    # Loop through CSV files in the subfolder
    for file in os.listdir(subfolder_path):
        if file.endswith(".csv"):
            file_path = os.path.join(subfolder_path, file)

            # Read the CSV file into a dataframe and append to the list
            df = pd.read_csv(file_path)
            dataframes.append(df)

In [ ]:
df

,POS,Player,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100,50,4s,6s
0,1,Virat Kohli,16,16,4,973,113,81.08,640,152.03,4,7,83,38
1,2,David Warner,17,17,3,848,93*,60.57,560,151.42,0,9,88,31
2,3,AB de Villiers,16,16,3,687,129*,52.84,407,168.79,1,6,57,37
3,4,Gautam Gambhir,15,15,2,501,90*,38.53,411,121.89,0,5,54,6
4,5,Shikhar Dhawan,17,17,4,501,82*,38.53,429,116.78,0,4,51,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,132,Swapnil Singh,1,1,0,0,0*,0.00,1,0.00,0,0,0,0
132,133,Unmukt Chand,1,1,0,0,0*,0.00,4,0.00,0,0,0,0
133,134,Adam Zampa,5,1,0,0,0*,0.00,1,0.00,0,0,0,0
134,135,Shivil Kaushik,7,2,1,0,0*,0.00,1,0.00,0,0,0,0
135,136,Murugan Ashwin,10,1,0,0,0*,0.00,1,0.00,0,0,0,0

In [ ]:
df.head()

,POS,Player,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100,50,4s,6s
0,1,Virat Kohli,16,16,4,973,113,81.08,640,152.03,4,7,83,38
1,2,David Warner,17,17,3,848,93*,60.57,560,151.42,0,9,88,31
2,3,AB de Villiers,16,16,3,687,129*,52.84,407,168.79,1,6,57,37
3,4,Gautam Gambhir,15,15,2,501,90*,38.53,411,121.89,0,5,54,6
4,5,Shikhar Dhawan,17,17,4,501,82*,38.53,429,116.78,0,4,51,8

In [ ]:
df.shape

(136, 14)

In [ ]:
columns = (df.columns)
print(columns)

Index(['POS', 'Player', 'Mat', 'Inns', 'NO', 'Runs', 'HS', 'Avg', 'BF', 'SR',
       '100', '50', '4s', '6s'],
      dtype='object')

In [ ]:
column_meanings = {
    "POS": "Player position",
    "Player": "Player's name",
    "Mat": "Number of matches played",
    "Inns": "Number of innings",
    "NO": "Number of times not out",
    "Runs": "Total runs scored",
    "HS": "Highest score",
    "Avg": "Batting average",
    "BF": "Total balls faced",
    "SR": "Batting strike rate",
    "100": "Number of centuries",
    "50": "Number of half-centuries",
    "4s": "Number of fours",
    "6s": "Number of sixes"
}

for column in columns:
    print(f"{column}: {column_meanings.get(column, 'Description not available')}")

POS: Player position
Player: Player's name
Mat: Number of matches played
Inns: Number of innings
NO: Number of times not out
Runs: Total runs scored
HS: Highest score
Avg: Batting average
BF: Total balls faced
SR: Batting strike rate
100: Number of centuries
50: Number of half-centuries
4s: Number of fours
6s: Number of sixes

In [ ]:
df_filled = df.fillna(0)

In [ ]:
df_cleaned = df.dropna()

In [ ]:
columns_to_drop = ["HS", "BF"]

df_cleaned = df_cleaned.drop(columns=columns_to_drop)

In [ ]:
df_cleaned

     POS          Player  Mat  Inns  NO  Runs    Avg      SR  100  50  4s  6s
0      1     Virat Kohli   16    16   4   973  81.08  152.03    4   7  83  38
1      2    David Warner   17    17   3   848  60.57  151.42    0   9  88  31
2      3  AB de Villiers   16    16   3   687  52.84  168.79    1   6  57  37
3      4  Gautam Gambhir   15    15   2   501  38.53  121.89    0   5  54   6
4      5  Shikhar Dhawan   17    17   4   501  38.53  116.78    0   4  51   8
..   ...             ...  ...   ...  ..   ...    ...     ...  ...  ..  ..  ..
131  132   Swapnil Singh    1     1   0     0   0.00    0.00    0   0   0   0
132  133    Unmukt Chand    1     1   0     0   0.00    0.00    0   0   0   0
133  134      Adam Zampa    5     1   0     0   0.00    0.00    0   0   0   0
134  135  Shivil Kaushik    7     2   1     0   0.00    0.00    0   0   0   0
135  136  Murugan Ashwin   10     1   0     0   0.00    0.00    0   0   0   0

[136 rows x 12 columns]

In [ ]:
df_cleaned['Avg'] = pd.to_numeric(df_cleaned['Avg'], errors='coerce')
df_cleaned['SR'] = pd.to_numeric(df_cleaned['SR'], errors='coerce')
df_cleaned['Player'] = df_cleaned['Player'].astype(str)
print(df_cleaned.head())

   POS          Player  Mat  Inns  NO  Runs    Avg      SR  100  50  4s  6s
0    1     Virat Kohli   16    16   4   973  81.08  152.03    4   7  83  38
1    2    David Warner   17    17   3   848  60.57  151.42    0   9  88  31
2    3  AB de Villiers   16    16   3   687  52.84  168.79    1   6  57  37
3    4  Gautam Gambhir   15    15   2   501  38.53  121.89    0   5  54   6
4    5  Shikhar Dhawan   17    17   4   501  38.53  116.78    0   4  51   8

In [ ]:
position_grouped = df_cleaned.groupby('POS').agg({
    'Avg': 'mean',
    'SR': 'mean',
    'Runs': 'sum',
    '100': 'sum',
    '50': 'sum',
    '4s': 'sum',
    '6s': 'sum'
}).reset_index()